# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number= 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [3]:
my_float= 123.45
print(my_float)
print(type(my_float))

123.45
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [4]:
print(2+3)
my_var = 2
my_var2 = 3
print(my_var+my_var2)

5
5

##### Subtraction

In [5]:
num1= 2
num2 = 5.7
result_diff = num1 - num2
print(result_diff)
print(type(result_diff))

-3.7
<class 'float'>

##### Multiplication

50
100

##### Division

2.0
1.0

##### Floor Division

In [6]:
result_floor= 5//2
print(result_floor)

2

##### Modulo

In [7]:
result_mod= 5 % 2 
print(result_mod)

1

##### Exponential

In [8]:
square = 5**2
print(square)

25

### String Input-Output

##### String Assignment

In [9]:
name = "Moy"
name = 'Moy'
print(name)

Moy

##### print() <br>
<p>Don't forget about end=' '</p>

In [10]:
name= "moy"
print("hello", name, "there")

hello moy there

##### String Concatenation

In [12]:
first = "moises"
last = "renteria"
full_name = first + " "+ last
print(full_name)
full_name += " is a funny guy"
print(full_name
     )

moises renteria
moises renteria is a funny guy

##### Type Conversion

In [13]:
num1 = 1
num2 ="2" 
print(num1+int(num2))

3

##### input()

In [14]:
age = input("what is your age?")
print(age)
print(type(age))

what is your age?21
21
<class 'str'>

##### format()

In [15]:
age = int(input("what is your age?"))
result = "you are {} years old and you are getting wiser".format(age)
print(result)

what is your age?21
you are 21 years old and you are getting wiser

What is your age?27
You are 27 years old and you are getting wiser!
27 is a great time in life

In [17]:
#f-strings
age = int(input("what is your age? "))
x = "Blah Blah Blah is all i hear in class today"
result_string= f'you are {age} years old {x}'
print(result_string)

what is your age? 21
you are 21 years old Blah Blah Blah is all i hear in class today

##### Old Way (python 2)

In [16]:
age = "35"
result_str = "you are %s and you look great for your age"%age
print(result_str)

you are 35 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [20]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
res_string = f'You drive a {year} {make} {model} that is painted {color}'
print(res_string)

What color is your car? black
What year is your car? 2020
What make is your car? Toyota
What model is your car? Corolla
You drive a 2020" "Toyota" "Corolla that is painted black

### If Statements

In [24]:
num1 = 2
num2 = 10
if num1 == num2:
    print("equal")
else:
    print("not equal")

not equal

In [25]:
num1 = 20
num2 = 2
if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
else:
    print("equal")

num1 is greater

In [29]:
#ternary operator in line if statement

# [value if true] [if] [boolean] [else] [value if false]
name = "Moy"

my_num = 5 if name == "Steve" else 0
print(my_num)
my_num =5 if name == "steve" else 10 if name =="Moy" else 0
print(my_num)

0
10

##### 'is' keyword

In [30]:
#only use this when asking is something is none 
x = None 

print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [31]:
#membership checks 
char_name = "Max Payne"
if "Max" in char_name:
    print("the character who lost everything... ")

the character who lost everything..

##### 'not in' keyword'

In [32]:
sega_char = "sonic"
if "S" not in sega_char.upper():
    print("s is not in the name ")
else:
    print("the word has a S")

the word has a S

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [37]:
name = input("what is your name?")
if "P" in name.upper():
    print(True)
else:
    print(False)

what is your name?moy
False

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [38]:
#for [placeholder] in [iterable]

name = "Gareth"

for letter in name:
    print(f'The next letter is {letter}')
    print('another line')
print("a third line")

The next letter is G
another line
The next letter is a
another line
The next letter is r
another line
The next letter is e
another line
The next letter is t
another line
The next letter is h
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [61]:
name = "Gareth"

for letter in name:
    if letter == "r":
        print("the letter is R")
        continue
    print(f'The next letter is {letter}')
    print('another line')

The next letter is G
another line
The next letter is a
another line
the letter is R
The next letter is e
another line
The next letter is t
another line
The next letter is h
another line

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [62]:
name = "Gareth"

for letter in name:
    if letter == "r":
        print("the letter is R")
        break
    print(f'The next letter is {letter}')
    print('another line')

The next letter is G
another line
The next letter is a
another line
the letter is R

0
1
2
3
4

##### Pass Statement

In [4]:
name = "Gareth"
#skip a loop
for letter in name:
    pass
print('rest of program')

In [64]:
foods = ["pizza","tacos","dimsun","sushi"]

In [65]:
for food in foods:
    print(food)

pizza
tacos
dimsun
sushi

In [ ]:
len(foods)

In [68]:
list(range(4))

[0, 1, 2, 3]

In [70]:
for index in range(len(foods)):
    print(index)
    print(foods[index])

0
pizza
1
tacos
2
dimsun
3
sushi

In [72]:
x,y = (1,2)
print(x)
print(y)

1
2

In [73]:
for index, food in enumerate (foods):
    print("at index", index, "is the food", food)

at index 0 is the food pizza
at index 1 is the food tacos
at index 2 is the food dimsun
at index 3 is the food sushi

##### Double For Loops

In [76]:
counter =0

for i in range(5):
    for j in range(5):
        counter += 1
        print(f'i={i} j ={j} total ={counter}')
    print()

i=0 j =0 total =1
i=0 j =1 total =2
i=0 j =2 total =3
i=0 j =3 total =4
i=0 j =4 total =5

i=1 j =0 total =6
i=1 j =1 total =7
i=1 j =2 total =8
i=1 j =3 total =9
i=1 j =4 total =10

i=2 j =0 total =11
i=2 j =1 total =12
i=2 j =2 total =13
i=2 j =3 total =14
i=2 j =4 total =15

i=3 j =0 total =16
i=3 j =1 total =17
i=3 j =2 total =18
i=3 j =3 total =19
i=3 j =4 total =20

i=4 j =0 total =21
i=4 j =1 total =22
i=4 j =2 total =23
i=4 j =3 total =24
i=4 j =4 total =25

### While Loops

In [78]:
#while [boolean]:
    #do this codeblock
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [80]:
while True:
    print("hello")
    num = int(input("Guess the majic number"))
    if num ==5:
        break

hello
Guess the majic number3
hello
Guess the majic number4
hello
Guess the majic number5

##### While & For Loops Used Together

In [81]:
num =0
total =0
while num <5:
    print("while loop iteration: ", num)
    for i in range(5):
        total += 1
        print("for loop iteration: ", i)
        print("Total times inner loop ran", total)
    num += 1

while loop iteration:  0
for loop iteration:  0
Total times inner loop ran 1
for loop iteration:  1
Total times inner loop ran 2
for loop iteration:  2
Total times inner loop ran 3
for loop iteration:  3
Total times inner loop ran 4
for loop iteration:  4
Total times inner loop ran 5
while loop iteration:  1
for loop iteration:  0
Total times inner loop ran 6
for loop iteration:  1
Total times inner loop ran 7
for loop iteration:  2
Total times inner loop ran 8
for loop iteration:  3
Total times inner loop ran 9
for loop iteration:  4
Total times inner loop ran 10
while loop iteration:  2
for loop iteration:  0
Total times inner loop ran 11
for loop iteration:  1
Total times inner loop ran 12
for loop iteration:  2
Total times inner loop ran 13
for loop iteration:  3
Total times inner loop ran 14
for loop iteration:  4
Total times inner loop ran 15
while loop iteration:  3
for loop iteration:  0
Total times inner loop ran 16
for loop iteration:  1
Total times inner loop ran 17
for loop iteration:  2
Total times inner loop ran 18
for loop iteration:  3
Total times inner loop ran 19
for loop iteration:  4
Total times inner loop ran 20
while loop iteration:  4
for loop iteration:  0
Total times inner loop ran 21
for loop iteration:  1
Total times inner loop ran 22
for loop iteration:  2
Total times inner loop ran 23
for loop iteration:  3
Total times inner loop ran 24
for loop iteration:  4
Total times inner loop ran 25

### Built-In Functions

##### range()

In [82]:
#range(start,stop,step)
#range(stop)
#range(start,stop)
list(range(0,4,1))

[0, 1, 2, 3]

##### len()

In [83]:
len('hey')
len(str(1132))

4

##### help()

In [84]:
 
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [85]:
num =1
isinstance(num, str)

False

In [86]:
isinstance(num, int)

True

##### abs()

In [87]:
#absolute value
print(abs(-5))

5

### Try and Except

### Lists

##### Declaring Lists

In [42]:
names = ["Vanessa","Patrick","Moises", "Armani"]
print(names)
print(names[2])

a_list = [1,2,3,["a", "b","c"],4]
print(a_list[3])
inner_list = a_list[3]
print(inner_list[1])
print(a_list[3][1])

print(names[::-1])

['Vanessa', 'Patrick', 'Moises', 'Armani']
Moises
['a', 'b', 'c']
b
b

In [43]:
my_string = "racecar"
if my_string == my_string [::-1]:
    print("Its palidrome")

Its palidrome

##### Indexing a List

In [12]:
a_list = [1,2,3,["a", "b","c"],4]
print(a_list[3])
inner_list = a_list[3]
print(inner_list[1])
print(a_list[3][1])

print(names[::-1])

##### .append()

In [53]:
names = ["Vanessa", "Patrick","Moises","Armani"]
names.append("Ramika")
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### .insert()

In [54]:
names.insert(2, "Sabrina")
print(names)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani', 'Ramika']

##### .pop()

In [51]:
new_class=[]
new_class.append(names.pop())
print(names)
print(new_class)

['Vanessa', 'Patrick', 'Sabrina']
['Sabrina']


##### .remove()

In [55]:
names.remove("Sabrina")
names

['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### del()

In [57]:
del names[1]
print(names)

['Vanessa', 'Moises', 'Armani', 'Ramika']

##### Concatenating Two Lists

In [58]:
l1=[1,2,3]
l2 = [4,5,6]
l1 + l2

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [59]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [132]:
while num ** 3 <= 1000:
    print(num)
    num+= 1

2
3
4
5
6
7
8
9
10

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [106]:
for num in range(1, 100, 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [89]:
age = int(input("What is your age?"))
if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
else:
    print("seniors")

What is your age?64
adults